test/src/NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://dto.underwriting.firsttech.com/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://service.underwriting.firsttech.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.underwriting.firsttech.com">
    <wsdl:documentation>FeeUnderwritingService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://service.underwriting.firsttech.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.underwriting.firsttech.com">
            <xs:element name="fakeUnderwrite">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proposal" nillable="true" type="ns1:UWFDTOProposal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="fakeUnderwriteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:UWFDTOUnderwriteResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ptpUnderwrite">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proposal" nillable="true" type="ns1:UWFDTOProposal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ptpUnderwriteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:UWFDTOUnderwriteResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="underwrite">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proposal" nillable="true" type="ns1:UWFDTOProposal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="underwriteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:UWFDTOUnderwriteResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="batchPtpUnderwrite">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="proposal" nillable="true" type="ns1:UWFDTOProposal"/>
                        <xs:element minOccurs="0" name="batchId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="batchPtpUnderwriteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns1:UWFDTOUnderwriteResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="batchUnderwrite">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="proposal" nillable="true" type="ns1:UWFDTOProposal"/>
                        <xs:element minOccurs="0" name="batchId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="batchUnderwriteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns1:UWFDTOUnderwriteResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax21="http://dto.underwriting.firsttech.com/xsd" xmlns:ns="http://service.underwriting.firsttech.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.underwriting.firsttech.com/xsd">
            <xs:complexType name="UWFDTOProposal">
                <xs:sequence>
                    <xs:element minOccurs="0" name="abatementFactor" type="xs:double"/>
                    <xs:element minOccurs="0" name="addInputPolicy" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="agentCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="agentContractNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="agentName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessSource" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="carAndHumanBusiness" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="channelCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="coinsflag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="contractNo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="endorseEndTime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="endorseNo" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="endorseReasons" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="endorsementItem" nillable="true" type="ax21:UWFDTOEndorsementItem"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="factors" nillable="true" type="ax21:UWDTOFactor"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="ax21:DTOField"/>
                    <xs:element minOccurs="0" name="inputDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="insured" nillable="true" type="ax21:UWFDTOInsured"/>
                    <xs:element minOccurs="0" name="kindCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastYearAllCommercialWreckCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="lastYearCommercialWreckCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="lastYearEndDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="merchandisersCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchandisersName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="notPayedAmountLastYear" type="xs:double"/>
                    <xs:element minOccurs="0" name="paidCost" type="xs:double"/>
                    <xs:element minOccurs="0" name="paidDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="parentCompanyCode" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parentCompanyCodes" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paymentAmountLastYear" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="plans" nillable="true" type="ax21:UWFDTOPlan"/>
                    <xs:element minOccurs="0" name="policyCompanyCode" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policyCompanyCodes" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="policyKind" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="policyNo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="policyType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiptNo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="renewed" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="repairChannelCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="repairChannelName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="riskCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="riskType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="saleSequence" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="schemeId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="shipTonnage" type="xs:double"/>
                    <xs:element minOccurs="0" name="singleSALI" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="sumOriginPremium" type="xs:double"/>
                    <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="teamcode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalPremiumLastYear" type="xs:double"/>
                    <xs:element minOccurs="0" name="underwritingDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="validDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="vehicle" nillable="true" type="ax21:UWFDTOVehicle"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UWFDTOEndorsementItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="endorseItem" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="newValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="oldValue" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UWDTOFactor">
                <xs:sequence>
                    <xs:element minOccurs="0" name="factorNo" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="ax21:DTOField"/>
                    <xs:element minOccurs="0" name="kindCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DTOField">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fieldDecription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fieldValue" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UWFDTOInsured">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="ax21:DTOField"/>
                    <xs:element minOccurs="0" name="insuredAttribute" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="insuredCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="insuredName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="insuredProperty" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UWFDTOPlan">
                <xs:sequence>
                    <xs:element minOccurs="0" name="additionalPlan" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="ax21:DTOField"/>
                    <xs:element minOccurs="0" name="grossPremium" type="xs:double"/>
                    <xs:element minOccurs="0" name="insuredNoDeductiblePlan" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="insuredSeats" type="xs:int"/>
                    <xs:element minOccurs="0" name="kindCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="kindName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sumInsured" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UWFDTOVehicle">
                <xs:sequence>
                    <xs:element minOccurs="0" name="actualValue" type="xs:double"/>
                    <xs:element minOccurs="0" name="brandName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessClassCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="carTypeName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="checkSeatCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="exhaustScale" type="xs:double"/>
                    <xs:element minOccurs="0" name="familyName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="ax21:DTOField"/>
                    <xs:element minOccurs="0" name="licenseNo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="modelCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="modelName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="power" type="xs:double"/>
                    <xs:element minOccurs="0" name="purchasePrice" type="xs:double"/>
                    <xs:element minOccurs="0" name="tonCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="truckType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="useAttribute" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="usedYears" type="xs:int"/>
                    <xs:element minOccurs="0" name="vehicleKindCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="vehicleKindName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UWFDTOUnderwriteResult">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="feeResults" nillable="true" type="ax21:UWFDTOFeeResult"/>
                    <xs:element minOccurs="0" name="feeUWSign" type="xs:int"/>
                    <xs:element minOccurs="0" name="receiptNo" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ruleResults" nillable="true" type="ax21:UWFDTORuleResult"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UWFDTOFeeResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="comercialFeeCost" type="xs:double"/>
                    <xs:element minOccurs="0" name="feeType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="feeUWSign" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="planResults" nillable="true" type="ax21:UWFDTOPlanResult"/>
                    <xs:element minOccurs="0" name="ptpComercialFeeCost" type="xs:double"/>
                    <xs:element minOccurs="0" name="ptpFeeCost" type="xs:double"/>
                    <xs:element minOccurs="0" name="ptpMaxRuleID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ptpSALIFeeCost" type="xs:double"/>
                    <xs:element minOccurs="0" name="saliFeeCost" type="xs:double"/>
                    <xs:element minOccurs="0" name="totalFeeCost" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UWFDTOPlanResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="feeCost" type="xs:double"/>
                    <xs:element minOccurs="0" name="feePlanCombineType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="kindCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="kindName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UWFDTORuleResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="feeType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ruleId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="batchPtpUnderwriteRequest">
        <wsdl:part name="parameters" element="ns0:batchPtpUnderwrite"/>
    </wsdl:message>
    <wsdl:message name="batchPtpUnderwriteResponse">
        <wsdl:part name="parameters" element="ns0:batchPtpUnderwriteResponse"/>
    </wsdl:message>
    <wsdl:message name="ptpUnderwriteRequest">
        <wsdl:part name="parameters" element="ns0:ptpUnderwrite"/>
    </wsdl:message>
    <wsdl:message name="ptpUnderwriteResponse">
        <wsdl:part name="parameters" element="ns0:ptpUnderwriteResponse"/>
    </wsdl:message>
    <wsdl:message name="underwriteRequest">
        <wsdl:part name="parameters" element="ns0:underwrite"/>
    </wsdl:message>
    <wsdl:message name="underwriteResponse">
        <wsdl:part name="parameters" element="ns0:underwriteResponse"/>
    </wsdl:message>
    <wsdl:message name="fakeUnderwriteRequest">
        <wsdl:part name="parameters" element="ns0:fakeUnderwrite"/>
    </wsdl:message>
    <wsdl:message name="fakeUnderwriteResponse">
        <wsdl:part name="parameters" element="ns0:fakeUnderwriteResponse"/>
    </wsdl:message>
    <wsdl:message name="batchUnderwriteRequest">
        <wsdl:part name="parameters" element="ns0:batchUnderwrite"/>
    </wsdl:message>
    <wsdl:message name="batchUnderwriteResponse">
        <wsdl:part name="parameters" element="ns0:batchUnderwriteResponse"/>
    </wsdl:message>
    <wsdl:portType name="FeeUnderwritingServicePortType">
        <wsdl:operation name="batchPtpUnderwrite">
            <wsdl:input message="ns0:batchPtpUnderwriteRequest" wsaw:Action="urn:batchPtpUnderwrite"/>
            <wsdl:output message="ns0:batchPtpUnderwriteResponse" wsaw:Action="urn:batchPtpUnderwriteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ptpUnderwrite">
            <wsdl:input message="ns0:ptpUnderwriteRequest" wsaw:Action="urn:ptpUnderwrite"/>
            <wsdl:output message="ns0:ptpUnderwriteResponse" wsaw:Action="urn:ptpUnderwriteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="underwrite">
            <wsdl:input message="ns0:underwriteRequest" wsaw:Action="urn:underwrite"/>
            <wsdl:output message="ns0:underwriteResponse" wsaw:Action="urn:underwriteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="fakeUnderwrite">
            <wsdl:input message="ns0:fakeUnderwriteRequest" wsaw:Action="urn:fakeUnderwrite"/>
            <wsdl:output message="ns0:fakeUnderwriteResponse" wsaw:Action="urn:fakeUnderwriteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="batchUnderwrite">
            <wsdl:input message="ns0:batchUnderwriteRequest" wsaw:Action="urn:batchUnderwrite"/>
            <wsdl:output message="ns0:batchUnderwriteResponse" wsaw:Action="urn:batchUnderwriteResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FeeUnderwritingServiceSOAP11Binding" type="ns0:FeeUnderwritingServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="batchPtpUnderwrite">
            <soap:operation soapAction="urn:batchPtpUnderwrite" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ptpUnderwrite">
            <soap:operation soapAction="urn:ptpUnderwrite" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="underwrite">
            <soap:operation soapAction="urn:underwrite" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fakeUnderwrite">
            <soap:operation soapAction="urn:fakeUnderwrite" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="batchUnderwrite">
            <soap:operation soapAction="urn:batchUnderwrite" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FeeUnderwritingServiceSOAP12Binding" type="ns0:FeeUnderwritingServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="batchPtpUnderwrite">
            <soap12:operation soapAction="urn:batchPtpUnderwrite" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ptpUnderwrite">
            <soap12:operation soapAction="urn:ptpUnderwrite" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="underwrite">
            <soap12:operation soapAction="urn:underwrite" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fakeUnderwrite">
            <soap12:operation soapAction="urn:fakeUnderwrite" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="batchUnderwrite">
            <soap12:operation soapAction="urn:batchUnderwrite" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FeeUnderwritingServiceHttpBinding" type="ns0:FeeUnderwritingServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="batchPtpUnderwrite">
            <http:operation location="FeeUnderwritingService/batchPtpUnderwrite"/>
            <wsdl:input>
                <mime:content type="text/xml" part="batchPtpUnderwrite"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="batchPtpUnderwrite"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ptpUnderwrite">
            <http:operation location="FeeUnderwritingService/ptpUnderwrite"/>
            <wsdl:input>
                <mime:content type="text/xml" part="ptpUnderwrite"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="ptpUnderwrite"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="underwrite">
            <http:operation location="FeeUnderwritingService/underwrite"/>
            <wsdl:input>
                <mime:content type="text/xml" part="underwrite"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="underwrite"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fakeUnderwrite">
            <http:operation location="FeeUnderwritingService/fakeUnderwrite"/>
            <wsdl:input>
                <mime:content type="text/xml" part="fakeUnderwrite"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="fakeUnderwrite"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="batchUnderwrite">
            <http:operation location="FeeUnderwritingService/batchUnderwrite"/>
            <wsdl:input>
                <mime:content type="text/xml" part="batchUnderwrite"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="batchUnderwrite"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FeeUnderwritingService">
        <wsdl:port name="FeeUnderwritingServiceSOAP11port_http" binding="ns0:FeeUnderwritingServiceSOAP11Binding">
            <soap:address location="http://10.1.13.154:9002/axis2-fee/services/FeeUnderwritingService"/>
        </wsdl:port>
        <wsdl:port name="FeeUnderwritingServiceSOAP12port_http" binding="ns0:FeeUnderwritingServiceSOAP12Binding">
            <soap12:address location="http://10.1.13.154:9002/axis2-fee/services/FeeUnderwritingService"/>
        </wsdl:port>
        <wsdl:port name="FeeUnderwritingServiceHttpport" binding="ns0:FeeUnderwritingServiceHttpBinding">
            <http:address location="http://10.1.13.154:9002/axis2-fee/services/FeeUnderwritingService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
